.App {
    display: flex;
    padding: 1rem;
}
.selected-item {
    color:chartreuse;
}
.price-color {
    color: grey;
}
.item-info {
    margin-left: 1rem;
    flex-grow: 1;
}
.list-panel, .item-info {
    height:95vh;
    overflow-y: scroll;
}
.resource_image {
    width: 200px;
    float:right;
}